<!DOCTYPE html>
<html>
	<head>
		<meta charset='utf-8'>
		<title>
			I LOVE YOU
		</title>
		<style type="text/css">
		body {
			font-family:Helvetica, sans-serif;
			background:#F7C3F6;
		}
		h1 {
			text-align:center;
			font-size:144px;
			height:100%;
			vertical-align:middle;
		}
		p	{
			color:white;
			font-size:18px;
			top:20px;
			right:20px;
		}
		p:hover {
			font-weight:bold;
		}
		</style>	
	</head>
	<body>
		<h1 id="message">
		</h1>
		<p id="sound"></p>
	<script type="text/javascript">
(function() {
	var messages = [
	"I LOVE YOU",
	"YOU'RE DOING THE RIGHT THING",
	"GOOD JOB",
	"I APPRECIATE YOU",
	"YOU'RE SO GOOD",
	"I LOVE THE WAY YOU DO THAT",
	"DON'T WORRY ABOUT IT",
	"IT'LL BE BETTER TOMORROW",
	"YOU ARE WORTH IT",
	"PEOPLE RESPECT YOU",
	"KEEP GOING"
	]
	var currentIndex = 0;
	var setMessage = function (index) {
		if (messages[index] !== undefined) {
			currentIndex = index;
			document.getElementById("message").innerHTML = messages[index];
			location.hash = currentIndex;
		}
	}
	var newMessage = function () {
		var oldCurrentIndex = currentIndex;
		while (oldCurrentIndex == currentIndex) {
			currentIndex = Math.floor(Math.random() * messages.length);
		}
		setMessage(currentIndex);
		
	}
	
	var setMessageToHash = function () {
		var number = parseInt(location.hash.slice(1).split('&')[0]);
		if(!isNaN(number))	{
			setMessage(number);
		}
	}
	
	var setSound = function(on)	{
		var soundButton = document.getElementById("sound");
		var sound = document.getElementById("audio");
		if (on) {
			soundButton.innerHTML = "sound on";
			sound.play();
			location.hash = location.hash.replace(/&?nosound/,"");
		} else {
			soundButton.innerHTML = "sound off";
			sound.pause();
			if (location.hash.indexOf(nosound) == -1)	{
				location.hash = location.hash + "&nosound";
			}
		}
	}
	
	var setSoundToHash = function() {
		setSound(location.hash.indexOf("nosound") != -1);
	}
	
	var toggleSound = function() {
		var sound = document.getElementById("audio");
		setSound(!sound.paused);
	}
	
	var onHashChange = function() {
		setMessageToHash();
		setSoundToHash();
	}
	
	document.onclick = newMessage;
	window.onhashchange = onHashChange;
	document.getElementByID("audio").onclick = toggleSound;
	if(location.hash) {
		onHashChange();
	}	else{
		setMessage(0);
		setSound(true);
	}
})();
		</script>
		<audio id="audio" src="http://dl.dropbox.com/u/8922399/feel.ogg" autoplay loop>
		</audio>
	
	</body>
</html>
